
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

body {
    margin: 0;
    overflow: overlay;
}

header {
    border-radius: 8px;
    display: flex;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(4px);
    margin: 1%;
    padding: 8px;
    position: fixed;
    width: 96%;
    z-index: 100;
}

canvas-background {
    z-index: 0;
}

h1 {
    margin: 0;
    font-size: 200%;
}

.button_head {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 14px;
    transition: background 0.3s ease;
}

.text_head {
    padding: 14px;
}
